<h2>Oh it's Squibilidy puff times boizzz and gals</h2>
<div class="retrieving">
    <div class="make-squib squib" *ngIf="(myVeryOwnSquib | async) as mySquib; else findMyOwnSquibBlock">
        <p>Wow what a catch!</p>
        <pre>{{ mySquib | json }}</pre>
    </div>
    <ng-template #findMyOwnSquibBlock class="squib-form fetch-squib-form">
        <p>Find your own amazing squib right here</p>
        <form>
            <label for="osssn">Dat squib's name</label>
            <input #osssn id="osssn" type="text" [placeholder]="fetchSquib.squibName" /><br>
            <label for="ossbt">Dat squib's base text</label>
            <input #ossbt id="ossbt" type="text" [placeholder]="fetchSquib.baseText" /><br>
            <label for="osssot">How long you want dat squibs random text to be</label>
            <input #osssot id="osssot" value="10" type="number" [placeholder]="fetchSquib.sizeOfText" /><br>
            <button type="submit" (click)="getMeASquib(osssn, ossbt, osssot)">Don't ever press this button</button>
        </form>
    </ng-template>
</div>
<div class="making">
    <div class="make-squib squib" *ngIf="(aBrandNewSquib | async ) as newSquib; else makeSquibBlock">
        <p>You sir, have impecable taste</p>
        <pre>{{ newSquib | json }}</pre>
    </div>
    <ng-template #makeSquibBlock class="squib-form make-squib-form">
        <p>Or make a brand new squib, <b>totally free</b></p>
        <form>
            <label for="mssn">Dat new Squib's name</label>
            <input id="mssn" [(ngModel)]="makeSquib.squibName" type="text" name="make1"
                [placeholder]="makeSquib.squibName" /><br>
            <label for="msrtb">Dat random text you want in your squibs random text</label>
            <input id="msrtb" [(ngModel)]="makeSquib.randomtextbase" type="text" name="make2"
                [placeholder]="makeSquib.randomtextbase" /><br>
            <button type="submit" (click)="makeMeASquib()">I want my own squib!</button>
        </form>
    </ng-template>
</div>
<div class="oldschool">
    <div class="oldschool-squib squib" *ngIf="myOwnOldSchoolSquib as oldSquib; else findOldSquibBlock">
        <p>Tried and tested the old ways are the best anyway</p>
        <pre>{{ oldSquib | json }}</pre>
        <pre>{{ oldSquib.randomtext }}</pre>
        <div *ngFor="let squibChunk of oldSquib.chunkSubstr(5)">
            <span>[--__--]{{squibChunk}}[-_-]</span>
        </div>
    </div>
    <ng-template #findOldSquibBlock class="squib-form oldschool-form">
        <p>Or get a blast from the past with this squiberoony</p>
        <form>
            <label for="osssn">Dat old school squib's name</label>
            <input id="osssn" [(ngModel)]="oldSchoolSquib.squibName" type="text" name="old1"
                [placeholder]="oldSchoolSquib.squibName" /><br>
            <label for="ossbt">Dat old school squib's base text</label>
            <input id="ossbt" [(ngModel)]="oldSchoolSquib.baseText" type="text" name="old2"
                [placeholder]="oldSchoolSquib.baseText" /><br>
            <label for="osssot">How long you want dat squibs random text to be</label>
            <input id="osssot" [(ngModel)]="oldSchoolSquib.sizeOfText" type="number" name="old3"
                [placeholder]="oldSchoolSquib.sizeOfText" /><br>
            <button type="submit" (click)="getMeAnOldschoolSquib()">Who needs new shit anyway?</button>
        </form>
    </ng-template>

</div>
