<p>This page be boring, how 'bout some fish hey????</p>
<button routerLink="/fish">Awwww Yiissss!</button>
<br>
<br>
<p>But what about a tasty squib for the road</p>
<button routerLink="squib">Ahhhh Shiiiii!</button>
