<div>
    <div *ngIf="display.fish" [ngClass]="['fish-repr', 'fish-repr-' + fish.getColour()]">
        <pre>
            |\   \\\\__     o
            | \_/    o \    o 
            > _   (( &#60;_  oo  
            | / \__+___/      
            |/     |/       
        </pre>
    </div>
    <div *ngIf="display.whale" [ngClass]="['fish-repr', 'fish-repr-' + fish.getColour()]">
        <pre>
            .
            ":"
          ___:____     |"\/"|
        ,'        `.    \  /
        |  O        \___/  |
      ~^~^~^~^~^~^~^~^~^~^~^~^~
        </pre>
    </div>
    <div *ngIf="display.jellyfish" [ngClass]="['fish-repr', 'fish-repr-' + fish.getColour()]">
        <pre>
            _______
            ,-~~~       ~~~-,
           (                 )
            \_-, , , , , ,-_/
               / / | | \ \
               | | | | | |
               | | | | | |
              / / /   \ \ \
              | | |   | | |
        </pre>
    </div>
    <div *ngIf="display.shark" [ngClass]="['fish-repr', 'fish-repr-' + fish.getColour()]">
        <pre>
            .            
            \_____)\_____
            /--v____ __`<         
                    )/           
                    '
        </pre>
    </div>
    <div *ngIf="display.default" [ngClass]="['fish-repr', 'fish-repr-' + fish.getColour()]">
        <pre>
             ,
            <()=<
             ` 
        </pre>
    </div>
</div>
