// .fish-repr {
//     display: inline-block;
// }

$colours: (
    "RED": red,
    "BLUE": blue,
    "YELLOW": yellow,
    "PURPZ": purple,
    "GREEN": green,
    "BLACK": black,
    "WHITE": white,
    "GREY": grey
);

@each $colour, $colourVal in $colours {
    .fish-repr-#{$colour} {
        background-color: $colourVal
    }
}

.fish-repr-NONE {
    background-image: repeating-linear-gradient(red, yellow, blue);
}
