<div class="fish-display" (click)="theyClickedAFish($event, fish)">
    <div class="fish-data">
        <p><b>{{fish.getEnglishName()}}</b> - <span>{{fish.getId()}}</span></p>
        <p>{{fish.getScientificName()}}</p>
    </div>
    <fish-color-display [fishIndex]="fishIndex"></fish-color-display>
</div>
