<div>
    <h1>Welcome to the fish view</h1>
</div>
<div>
    <p>Wehey</p>
    <ascii-fish></ascii-fish>
    <make-fish></make-fish>
    <p>Here are all those <b>Fish</b> you can play with</p>
    <fish-display *ngFor="let fish of (fishes | async); let i = index;" [fishIndex]="i">
        {{i}} - POOP?
    </fish-display>
</div>
