<div class="make-fish">
    <p>Make a fish here</p>
    <form>
        <label for="fishName">Dat fishs's name</label>
        <input #fishName id="fishName" type="text"><br>
        <label for="fishSizeMax">How big ye fish can get</label>
        <input #fishSizeMax id="fishSizeMax" type="number"><br>
        <label for="fishSizeMin">How big ye fish can get</label>
        <input #fishSizeMin id="fishSizeMin" type="number"><br>
        <label for="fishEats">What ye fish eat</label>
        <input #fishEats id="fishEats" value="fish poop" type="text"><br>
        <label for="fishEvolved">When your fish evolved (MYA)</label>
        <input #fishEvolved id="fishEvolved" value="10" type="number"><br>
        <label for="fishColour">What colour your fish be</label>
        <select #fishColour class="custom-select">
            <option value="" disabled>Choose a colour for fish</option>
            <option *ngFor="let colour of fishColours">{{colour}}</option>
         </select>      
        <br>
        <button type="button" (click)="addFish(fishName, fishSizeMax, fishSizeMin, fishEats, fishEvolved, fishColour)">Make me a fish booiiii</button>
    </form>
    <div class="fish-making-results">
        <div *ngIf="makeFishSuccess; else makeFishFail" style="color: green">WOW AMAZING YOUR FISH HAS BEEN MADE</div>
        <ng-template #makeFishFail><div style="color: red">
            SHIT... FISH FAILED
        </div></ng-template>
    </div>
</div>
